<!-- <div class="callout large">
  <div class=" text-center">
    <h1>Changing the World Through Design</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.</p>
    <a href="#" class="button large">Learn More</a>
    <a href="#" class="button large hollow">Learn Less</a>
  </div>
</div> -->


<div class="row text-center">
  <div class="medium-6 large-5">
    <h1 class="separator-center">Burger.Love.Com</h1>
    <p class="lead">Too few people understand a really good sandwich...</p>
  </div>
</div>

<!-- <div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell large-4">cell</div>
    <div class="cell large-4">cell</div>
    <div class="cell large-4">cell</div>
  </div>
</div> -->

<div class="row">
  <div class="large-6 columns">

    <div class="medium-9 columns">
      <input type="text" placeholder=".medium-6.cell">
    </div>

    <div class="medium-3 columns">
      <button type="button" class="success button large">Place</button>
    </div>

  </div>

  <div class="large-6 columns">
    <button type="button" class="button large">Philly Cheese Steak</button>
    <button type="button" class="warning button large">Clear</button>
  </div>
</div>

<form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 input-group">
        <label>
          <input type="text" class="input-group-field" placeholder=".medium-6.cell">
        </label>
        <div class="input-group-button">
          <button type="button" class="success button">Place</button>
        </div>
      </div>
      <div class="medium-6 cell">
        <label>
          <input type="text" placeholder=".medium-6.cell">
        </label>
      </div>
    </div>
  </div>
</form>


<div>
  <ul class="menu">
    <li><input type="search" placeholder="Type in your order..." disabled></li>
    <li><button type="button" class="button">Place</button></li>
  </ul>
</div>
